{
	order webdav before file_server
}

https://{$MY_SERVICE}.{$MY_DOMAIN}.ts.net {

	handle_path /zotero/* {

		basic_auth {	
			{$MY_USERNAME} {$MY_HASHED_PASSWORD}
		}
	
		webdav {
			root /srv/zotero
		}
	}

	log {
		output stdout
		level ERROR
	}
}
